<h2><a name="error_profile" href="#error_profile">Error Profiles</a></h2>
<div id="error_profile">
  <h3><a name="error_frequency" href="#error_frequency">Alignment Error Frequencies</a></h3>
  <p>
    <a class="link_csv" href="report/tables/error-profiles-overview.csv">Error Frequency Table (csv)</a>
  </p>
  <table>
    <thead>
      <tr>
        <th>Sample</th>
        <th>Subst/tag</th>
        <th>Del/tag</th>
        <th>Ins/tag</th>
        <th>Subst/nt</th>
        <th>Del/nt</th>
        <th>Ins/nt</th>
      </tr>
    </thead>
    <tbody>
      {% for sample in table('error-profiles-overview.csv') %}
      <tr>
        <th>{{ sample['Sample'] }}</th>
        <td>{{ '%.3f'|format(sample['Subst/tag']|float) }}</td>
        <td>{{ '%.3f'|format(sample['Del/tag']|float) }}</td>
        <td>{{ '%.3f'|format(sample['Ins/tag']|float) }}</td>
        <td>{{ '%.3f%%'|format(sample['Subst/nt']|float * 100) }}</td>
        <td>{{ '%.3f%%'|format(sample['Del/nt']|float * 100) }}</td>
        <td>{{ '%.3f%%'|format(sample['Ins/nt']|float * 100) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!--<p class="note">
    Errors within two nucleotides from either 5'- or 3'-end are excluded from these numbers.
  </p>-->

  <h3><a name="error_distribution" href="#error_distribution">Positional Distribution of Errors</a></h3>
  <p>
    **explain why numbers in these profiles are different from the numbers represented above.
    <a class="link_csv" href="report/tables/error-profiles-byposition.csv">Positional Error Frequency Table (csv)</a>
  </p>
  <table>
    <thead>
      <tr>
        <th>Sample</th>
        <th>Overall Distributions</th>
        <th>Substitutions</th>
        <th>Deletions</th>
      </tr>
    </thead>
    <tbody>
      {% for sample in table('error-profiles-byposition.csv') %}
      <tr>
        <th>{{ sample['Sample'] }}</th>
        <td>
          <p class="buttons">
            <a href="report/plots/error-profile/error-profile-{{ sample['Sample'] }}.total.pdf" class="link_pdf">PDF</a>
            <a href="report/plots/error-profile/error-profile-{{ sample['Sample'] }}.total.png" class="link_png">PNG</a>
          </p>
          <img src="report/plots/error-profile/error-profile-{{ sample['Sample'] }}.total.png"/>
        </td>
        <td>
          <p class="buttons">
            <a href="report/plots/error-profile/error-profile-{{ sample['Sample'] }}.subst.pdf" class="link_pdf">PDF</a>
            <a href="report/plots/error-profile/error-profile-{{ sample['Sample'] }}.subst.png" class="link_png">PNG</a>
          </p>
          <img src="report/plots/error-profile/error-profile-{{ sample['Sample'] }}.subst.png"/>
        </td>
        <td>
          <p class="buttons">
            <a href="report/plots/error-profile/error-profile-{{ sample['Sample'] }}.del.pdf" class="link_pdf">PDF</a>
            <a href="report/plots/error-profile/error-profile-{{ sample['Sample'] }}.del.png" class="link_png">PNG</a>
          </p>
          <img src="report/plots/error-profile/error-profile-{{ sample['Sample'] }}.del.png"/>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{#-
vim: sts=2 sw=2 et ft=htmljinja
-#}
