<div id="overview">
  <h2><a name="overview" href="#overview">Brief Overview and Quality Check</a></h2>

  <h3><a name="number_of_reads" href="#number_of_reads">Number of reads</a></h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <table>
    <thead>
      <tr>
        <th>Sample Name</th>
        <th>Total Reads</th>
        <th>Remaining Reads After Processing</th>
        <th>Uniquely Mappable Reads To Genome</th>
      </tr>
    </thead>
    <tbody>
    {% for sample in table('sequence-processing.csv') %}
      <tr>
        <th>{{ sample['Sample Name'] }}</th>
        <td>{{ sample['Total Reads']|thousand_sep }}</td>
        <td>{{ sample['Remaining Reads After Processing']|thousand_sep }}
          {{ '(%.1f%%)'|format(sample['Remaining Reads After Processing (%)']|float) }}</td>
        <td>{{ sample['Uniquely Mappable Reads To Genome']|thousand_sep }}
          {{ '(%.1f%%)'|format(sample['Uniquely Mappable Reads To Genome (%)']|float) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h3><a name="assignment_profile" href="#assignment_profile">Read Origin Assignment Profiles</a></h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    <img src="report/plots/read-class-proportions.png"/>
    <a class="link_pdf" href="report/plots/read-class-proportions.pdf">Vector Image (pdf)</a>
    <a class="link_png" href="report/plots/read-class-proportions.png">Bitmap Image (png)</a>
    <a class="link_csv" href="report/tables/read-class-proportions.reads.csv">Read Count Table (csv)</a>
    <a class="link_csv" href="report/tables/read-class-proportions.percentages.csv">Percentage Table (csv)</a>
  </p>

  <table>
    <thead>
      <tr>
        <th>Sample Name</th>
        <th>rRNA</th>
        <th>CDS</th>
        <th>5'UTR</th>
        <th>3'UTR</th>
        <th>intron</th>
        <th>miRNA</th>
        <th>tRNA</th>
        <th>Repeats</th>
        <th>Others</th>
      </tr>
    </thead>
    <tbody>
    {% for sample in join_tables('sample', 'read-class-proportions.reads.csv', 'read-class-proportions.percentages.csv') %}
      <tr>
        <th>{{ sample['key'] }}</th>
        {% for cls in "rRNA CDS 5'UTR 3'UTR intron miRNA tRNA Repeats Others".split() %}
        <td>{{ sample[0, cls]|thousand_sep }}
          {{ '(%.1f%%)'|format(sample[1, cls]|float) }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{#-
vim: sts=2 sw=2 et ft=htmljinja
-#}
